.checkbox {
  position: relative;
  height: 20px;
  width: 20px;
  background-color: #c1c1c1;
  border-radius: 2px;
}

.checkmark {
  position: absolute;
  left: 7px;
  top: 2px;
  width: 6px;
  height: 13px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
