.container {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  padding: 10% 15% 0 15%;
}

/* -------------------------- multiseclect box -------------------------- */
.multiselect {
  min-width: 160px;
  padding: 10px 15px;
  margin: 0 10px;
  box-shadow: 5px 0 10px -4px #888888, -5px 0 8px -4px #888888;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.dropdown-icon {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  margin-left: 10px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 5px 0 10px -4px #888888, -5px 0 8px -4px #888888;
}

.dropdown-item {
  width: 100%;
  padding: 5px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  min-height: 30px;
}

.dropdown-item:hover {
  background-color: #ebebeb;
}

.dropdown-item:first-child {
  padding-top: 10px;
}

/* -------------------------- selected users view -------------------------- */
.selected-users {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.selected-user {
  border: 2px solid #848484;
  border-radius: 50px;
  padding: 10px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
}

.selected-user:not(:last-child) {
  margin-right: 10px;
}

.cross {
  font-size: 12px;
  color: #e0e0e0;
  background-color: #5c5c5c;
  border-radius: 50%;
  padding: 1px 5px 2px 5px;
  margin-left: 10px;
  cursor: pointer;
}
