.container {
  height: 60vh;
  display: flex;
  align-items: center;
}

.multiselect {
  padding: 10px 24px;
  margin: 0 10px;
  box-shadow: 0px 0px 6px 1px #888888;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  left: 30%;
}

.dropdown-icon {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000000;
  margin-left: 10px;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 6px 1px #888888;
}

.dropdown-item {
  width: 100%;
  padding: 5px 12px;
  position: relative;
}

.dropdown-item:hover {
  background-color: #ebebeb;
}

.dropdown-item:first-child {
  padding-top: 10px;
}

.dropdown-item:last-child {
  padding-bottom: 10px;
}

.checkbox {
  margin-left: 4px;
}

.selected-users {
  display: flex;
  flex-direction: row;
  position: relative;
  left: 30%;
}

.selected-user {
  border: 2px solid #848484;
  border-radius: 50px;
  padding: 10px;
  background-color: #e0e0e0;
}

.selected-user:not(:last-child) {
  margin-right: 10px;
}

.cross {
  color: #e0e0e0;
  background-color: #5c5c5c;
  border-radius: 50%;
  padding: 0px 6px 1px 6px;
  margin-left: 10px;
}
